certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
comtypes==1.1.10
decorator==5.1.0
dfly-breathe==0.2.4
dragonfly2==0.35.0
idna==3.3
importlib-metadata==4.8.2
json-rpc==1.13.0
kaldi-active-grammar==3.1.0
lark-parser==0.8.9
numpy==1.23.5
packaging==21.3
pycparser==2.21
pyparsing==3.0.6
pyperclip==1.8.2
pywin32==305
regex==2021.11.10
requests==2.26.0
six==1.16.0
sounddevice==0.3.15
urllib3==1.26.7
ush==3.1.0
webrtcvad-wheels==2.0.10.post2
Werkzeug==2.0.2
zipp==3.6.0
